<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ChatBot</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <!-- partial:index.partial.html -->
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fas fa-bell"></i> Piedmont University Assistant <i class="fas fa-battery-full"></i>
      </div>
    </header>

      <main class="msger-chat">
      <div class="msg left-msg">
        <div class="msg-img icon-leo"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">Leo</div>
            <div class="msg-info-time">1:30</div>
          </div>
          
          <div class="msg-text">
            Hi, welcome to Piedmont University! Go ahead and ask me a question. 😄
          </div>
        </div>
      </div>

    </main>

    <form class="msger-inputarea">
      <input type="text" class="msger-input" id="textInput" placeholder="Enter your message...">
      <button type="submit" class="msger-send-btn">Send</button>
    </form>
  </section>
  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script src="{{ url_for('static', filename='js/shared-index.js') }}"></script>

</body>

</html>